@import "./mixin.scss";
@import "./project.scss";

$banner_background_color: #9bb7e2;
$white_background_color: #fff;
$lightgray_background_color: #f6f6f6;

.mainPageWrapper {
  width: 100%;

  & > div {
    width: 100%;
  }

  & > div > div {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }

  & .mainBannerWrapper {
    background: $banner_background_color;
  }
  & .mainInfoWrapper {
    background: $white_background_color;
  }

  & .mainProjectWrapper {
    background: $lightgray_background_color;
  }

  & .mainSectionTitle {
    width: 170px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin: 0 auto;
    border-bottom: solid 2px #000;
    padding: 40px 0px 10px 0px;
  }
}

.mainPageWrapper .mainBannerWrapper .mainBannerInner {
  height: 500px;
  background-image: url("/static/image/mainbanner_img1.png");
  background-position: 60px bottom;
  background-size: auto 95%;
  background-repeat: no-repeat;
  color: $white_background_color;

  & > div {
    position: absolute;
  }

  & .mainBannerBigText {
    font-size: 55px;
    font-weight: 700;
    top: 150px;
    right: 310px;
  }

  & .mainBannerSmallText {
    font-size: 30px;
    font-weight: 700;
    top: 255px;
    right: 235px;
  }

  & > img {
    position: absolute;
    opacity: 0;
  }

  & .mainBannerBlock1 {
    top: 270px;
    right: 100px;
    animation: slideDown 5s 0.5s infinite ease;
  }
  & .mainBannerBlock2 {
    top: 115px;
    right: 40px;
    animation: slideDown 5s 1.5s infinite ease;
  }
  & .mainBannerBlock3 {
    top: 45px;
    right: 130px;
    animation: slideDown 5s 2s infinite ease;
  }
}

.mainPageWrapper .mainInfoWrapper .mainInfoInner {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

  & .mainInfoItem {
    width: 30%;
    text-align: center;

    & .mainInfoBigText {
      font-size: 30px;
      font-weight: 700;
      padding: 35px 0px;
    }

    & .mainInfoSmallText {
      font-size: 20px;
      line-height: 40px;
    }

    & img {
      width: 180px;
    }
  }
}

.mainPageWrapper .mainProjectWrapper .mainProjectInner {
  height: 470px;
  margin-top: 100px;

  & .projectSlider {
    width: 80%;
    margin: 0 auto;
  }

  & .slick-next:before,
  .slick-prev:before {
    color: #515151;
  }

  & .projectItemWrapper {
    @include projectItemWidth(100%);
  }

  & .mainProjectEmpty {
    width: 300px;
    background: $white_background_color;
    border: solid 1px #eaeaef;
    padding: 30px 0px;
    margin: 0 auto;

    & .projectEmptyImg {
      & img {
        display: block;
        width: 90%;
        margin: 0 auto;
      }
    }
    & .projectEmptyText {
      font-size: 17px;
      font-weight: 700;
      text-align: center;
      padding: 20px 0px;
    }
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(0%);
  }
  to {
    opacity: 1;
    transform: translateY(100%);
  }
}

@include mobile {
  .mainPageWrapper {
    & .mainSectionTitle {
      display: none;
    }

    & .mainBannerWrapper {
      & .mainBannerInner {
        height: 100vw;
        background-position: -50px bottom;
        background-size: auto 80%;

        & .mainBannerBigText {
          font-size: 9vw;
          top: 20%;
          right: 5%;
        }

        & .mainBannerSmallText {
          font-size: 4vw;
          top: 36%;
          right: 5%;
        }

        & .mainBannerBlock1,
        .mainBannerBlock2,
        .mainBannerBlock3 {
          display: none;
        }
      }
    }

    & .mainInfoWrapper {
      & .mainInfoInner {
        flex-direction: column;
        height: auto;
        padding: 13vw 0px;
        justify-content: flex-start;
        & .mainInfoItem {
          width: 90%;
          margin: 5vw 0px;
          & img {
            width: 30%;
          }
          & .mainInfoBigText {
            font-size: 6vw;
            padding: 3vw 0px;
          }
          & .mainInfoSmallText {
            font-size: 3.5vw;
            line-height: 8vw;
          }
        }
      }
    }

    & .mainProjectWrapper {
      & .mainProjectInner {
        margin-top: 0px;
        padding: 13vw 0px;
      }
    }
  }
}
