@import "./mixin.scss";

.myProjectPageWrapper {
  width: 100%;
  min-height: 100vh;

  &.loading {
    opacity: 0.3;
  }

  & .myProjectWrapper {
    max-width: 1200px;
    padding: 25px 0px;
    margin: 0 auto;

    & .myProjectTop {
      text-align: right;

      & > a > button {
        border: none;
        border: solid 1px #b9b9b9;
        border-radius: 3px;
        background: white;
        padding: 6px 16px;
        cursor: pointer;
      }

      & .myProjectOptionsWrapper {
        width: 100%;
        border: solid 1px #eaeaef;
        text-align: left;
        padding: 10px 0px;
        margin: 20px 0px;

        & .myProjectOptionsWrapperLabel {
          padding: 5px 10px 15px 10px;
          font-size: 15px;
          & > i {
            font-size: 14px;
            color: gray;
          }
        }

        & .myProjectOptionLabel {
          font-size: 13px;
          padding: 0 20px;
        }

        & .myProjectOptionSkill {
          & .myProjectOptionSkillSelect {
            padding: 5px 20px;
          }
        }

        & .myProjectOptionSearch {
          & .myProjectOptionSearchInput {
            padding: 5px 20px;
            & input {
              width: 100%;
              box-sizing: border-box;
              border-radius: 4px;
              height: 38px;
              border: solid 1px;
              background-color: hsl(0, 0%, 100%);
              border-color: hsl(0, 0%, 80%);
              padding-left: 10px;
              outline: none;
            }
          }
        }

        & .myProjectOptionSubmit {
          padding: 10px 20px;
          text-align: right;
          & > button {
            border: none;
            background: #229fe7;
            color: white;
            border-radius: 3px;
            padding: 6px 14px;
            cursor: pointer;
          }
        }
      }
    }

    & .myProjectListWrapper {
      margin: 30px 0px;
      & .myProjectItemWrapper {
        height: 270px;
        padding: 30px 10px;
        border: solid 1px #eaeaef;
        margin: 10px 0px;
        cursor: pointer;

        &:hover {
          border: solid 1px #1d63dc;
        }

        & > div {
          float: left;
        }

        & .myProjectItemThumnail {
          width: 30%;
          height: 100%;
          overflow: hidden;
          display: flex;
          align-items: center;

          & img {
            width: 100%;
            height: auto;
          }
        }

        & .myProjectItemContent {
          width: 60%;
          padding-left: 25px;
          height: 100%;

          & > div {
            margin-bottom: 15px;
          }

          & .myProjectItemColumn {
            & > div {
              display: inline-block;
              width: 100px;
              margin-right: 10px;
            }
          }

          & .myProjectItemContentLabel {
            font-size: 12px;
          }
        }

        & .myProjectItemManage {
          float: right;
          & button {
            border: none;
            background: none;
            color: gray;
            font-size: 14px;
            cursor: pointer;
          }
        }
      }

      & .myProjectEmpty {
        padding: 30vh 0px;
        text-align: center;
      }
    }
  }
}

.projectRegistPageWrapper {
  width: 100%;
  min-height: 100vh;

  & .projectRegistWrapper {
    width: 100%;
    max-width: 1200px;
    padding: 25px 0px;
    margin: 0 auto;

    & .toggleShowingWrapper,
    & .typeSelectorWrapper {
      width: 200px;
      margin-bottom: 5px;
    }

    & .dateWrapper {
      & > * {
        display: inline-block;
        &:first-child {
          margin-right: 50px;
        }
      }

      & input {
        box-sizing: border-box;
        border: solid 1px hsl(0, 0%, 80%);
        width: 200px;
        height: 38px;
        border-radius: 4px;
        text-indent: 10px;
        margin: 5px 0px;
      }
    }

    & .titleWrapper,
    .urlWrapper,
    .giturlWrapper {
      width: 100%;

      & input {
        box-sizing: border-box;
        border: solid 1px hsl(0, 0%, 80%);
        width: 100%;
        height: 38px;
        border-radius: 4px;
        text-indent: 10px;
        margin: 5px 0px;
      }
    }

    & .skillWrapper {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    & .registButtons {
      text-align: left;
      margin-top: 10px;
      & > button {
        &:first-child {
          background-color: #1d63dc;
          color: white;
          margin-right: 10px;
        }

        box-sizing: border-box;
        padding: 10px 22px;
        border: none;
        border: solid 1px lightgray;
        border-radius: 5px;
        background-color: white;
        cursor: pointer;
      }
    }
  }

  & .registLabel {
    font-size: 13px;
  }
  & .registSelector {
    margin: 5px 0px;
  }

  & .editErrorBox {
    opacity: 0;
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    text-align: center;
    transition: opacity 0.5s linear;
    & span {
      background: white;
      border: solid 1px red;
      border-radius: 3px;
      color: red;
      padding: 10px 25px;
      font-size: 12px;
    }
  }
}

@include mobile {
  .myProjectPageWrapper {
    & .myProjectRegist {
      display: none;
    }

    & .myProjectWrapper {
      padding: 25px 4vw;
      & .myProjectListWrapper {
        & .myProjectItemWrapper {
          height: auto;
          & > div {
            float: none;
          }
          & .myProjectItemThumnail {
            width: 100%;
            margin-bottom: 4vw;
          }
          & .myProjectItemContent {
            width: 100%;
            padding-left: 0;
          }
          & .myProjectItemManage {
            & button:first-child {
              display: none;
            }
          }
        }
      }
    }
  }
}
