@import "./mixin.scss";

@mixin projectItemWidth($width) {
  width: $width;
}

.projectItemWrapper {
  display: flex;
  justify-content: center;
}

.projectItemWrapper .projectItemInner {
  width: 240px;
  height: 380px;
  background: white;
  transition: box-shadow 0.5s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  }

  & .projectItemThumnail {
    width: 100%;
    height: 240px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    & > img {
      width: auto;
      height: 100%;
    }
  }

  & .projectItemType {
    padding-left: 15px;
    font-size: 12px;
  }

  & .projectItemTitle {
    font-size: 22px;
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .projectItemContent {
    margin-top: 10px;
    padding: 0px 15px;
    height: 65px;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.projectDetailWrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 80px 0px;

  & > div {
    width: 100%;
  }

  & .projectDetailTop {
    margin-bottom: 30px;
    & .projectDetailType {
      font-size: 18px;
    }
    & .projectDetailTitle {
      font-size: 36px;
    }
    & .projectDetailInfo {
      font-size: 14px;
      & > div {
        margin-right: 30px;
        display: inline-block;
      }
    }
  }
  & .projectDetailDivider {
    height: 1px;
    background: gray;
    margin: 8px 0px 4px 0px;
  }
  & .projectDetailContent {
    min-height: 50vh;
    & img {
      max-width: 100%;
      height: auto;
    }

    & pre {
      counter-reset: line;
      border: solid 1px #eaeaef;
      & code {
        &:before {
          counter-increment: line;
          content: counter(line);
          display: inline-block;
          border-right: 1px solid #ddd;
          padding: 0 0.5em;
          margin-right: 0.5em;
          color: #888;
        }
      }
    }
  }
  & .projectDetailSkills {
    margin-top: 10px;
    & .projectDetailSkillsContent {
      display: flex;
      flex-wrap: wrap;
      margin: 5px 0px;
      & > div {
        border: solid 1px #b9b9b9;
        color: rgb(65, 65, 65);
        padding: 3px 7px;
        font-size: 14px;
        border-radius: 3px;
        margin-right: 5px;
        margin-bottom: 5px;
        cursor: pointer;
      }
    }
  }
  & .projectDetailUrl {
    & .projectDetailUrlContent {
      margin: 5px 0px;
      font-size: 14px;
    }
  }

  & .projectDetailLabel {
    font-size: 13px;
  }
}

.publicProjectWrapper {
  max-width: 1200px;
  min-height: 100vh;
  padding: 25px 0px;
  margin: 0 auto;

  & .publicProjectFilter {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    margin: 15px 0px;
    border: solid 1px #eaeaef;

    & .publicProjectFilterLabel {
      font-size: 15px;
      padding: 5px 10px 15px 10px;

      & i {
        font-size: 14px;
        color: gray;
      }
    }

    & .publicProjectFilterSkill {
      padding: 0px 20px;
    }

    & .publicProjectFilterOptionLabel {
      font-size: 13px;
      margin: 5px 0px;
    }

    & .publicProjectOptionSubmit {
      padding: 10px 20px;
      text-align: right;
      & > button {
        border: none;
        background: #229fe7;
        color: white;
        border-radius: 3px;
        padding: 6px 14px;
        cursor: pointer;
      }
    }
  }

  & .publicProjectList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    & .projectItemWrapper {
      @include projectItemWidth(25%);
      margin-bottom: 30px;
      & .projectItemInner {
        border: solid 1px #b9b9b9;
      }
    }

    & .projectListEmpty {
      width: 100%;
      padding: 30vh 0px;
      text-align: center;
    }
  }
}

@include mobile {
  .publicProjectWrapper {
    padding: 25px 4vw;
    & .publicProjectList {
      & .projectItemWrapper {
        width: 50%;
        margin-bottom: 3vw;

        & .projectItemInner {
          width: 95%;
          height: 60vw;

          & .projectItemThumnail {
            height: 60%;
          }
          & .projectItemType {
            padding-left: 3vw;
            font-size: 2vw;
          }

          & .projectItemTitle {
            font-size: 3.5vw;
            padding-left: 3vw;
          }

          & .projectItemContent {
            margin-top: 2vw;
            padding: 0px 3vw;
            height: 8vw;
          }
        }
      }
    }
  }

  .projectDetailWrapper {
    padding: 5vw 4vw;

    & > div {
      width: 100%;
    }

    & .projectDetailTop {
      margin-bottom: 3vw;
      & .projectDetailType {
        font-size: 3vw;
      }
      & .projectDetailTitle {
        font-size: 7vw;
      }
      & .projectDetailInfo {
        font-size: 3.5vw;
        & > div {
          margin-right: 4vw;
          display: inline-block;
        }
      }
    }
    & .projectDetailContent {
      & img {
        max-width: 100%;
        height: auto;
      }
    }
    & .projectDetailSkills {
      margin-top: 2vw;
      & .projectDetailSkillsContent {
        margin: 1vw 0px;
        & > div {
          padding: 1vw 2.8vw;
          font-size: 4vw;
          margin-right: 2vw;
          margin-bottom: 1vw;
        }
      }
    }
    & .projectDetailUrl {
      & .projectDetailUrlContent {
        margin: 1vw 0px;
        font-size: 4vw;
      }
    }

    & .projectDetailLabel {
      font-size: 4vw;
    }
  }
}
