@mixin projectItemWidth($width) {
  width: $width;
}

.projectItemWrapper {
  display: flex;
  justify-content: center;
}

.projectItemWrapper .projectItemInner {
  width: 240px;
  height: 380px;
  background: white;
  transition: box-shadow 0.5s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  }

  & .projectItemThumnail {
    width: 100%;
    height: 240px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    & > img {
      width: auto;
      height: 100%;
    }
  }

  & .projectItemType {
    padding-left: 15px;
    font-size: 12px;
  }

  & .projectItemTitle {
    font-size: 22px;
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .projectItemContent {
    margin-top: 10px;
    padding: 0px 15px;
    height: 65px;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.projectDetailWrapper {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 80px 0px;

  & > div {
    width: 100%;
  }

  & .projectDetailTop {
    margin-bottom: 30px;
    & .projectDetailType {
      font-size: 18px;
    }
    & .projectDetailTitle {
      font-size: 36px;
    }
    & .projectDetailInfo {
      font-size: 14px;
      & > div {
        margin-right: 30px;
        display: inline-block;
      }
    }
  }
  & .projectDetailDivider {
    height: 1px;
    background: gray;
    margin: 8px 0px 4px 0px;
  }
  & .projectDetailContent {
    & img {
      max-width: 100%;
      height: auto;
    }
  }
  & .projectDetailSkills {
    margin-top: 10px;
    & .projectDetailSkillsContent {
      display: flex;
      flex-wrap: wrap;
      margin: 5px 0px;
      & > div {
        border: solid 1px #b9b9b9;
        color: rgb(65, 65, 65);
        padding: 3px 7px;
        font-size: 14px;
        border-radius: 3px;
        margin-right: 5px;
        cursor: pointer;
      }
    }
  }
  & .projectDetailUrl {
    & .projectDetailUrlContent {
      margin: 5px 0px;
      font-size: 14px;
    }
  }

  & .projectDetailLabel {
    font-size: 13px;
  }
}

.publicProjectWrapper {
  width: 100%;
  max-width: 1200px;
  padding: 25px 0px;
  margin: 0 auto;

  & .publicProjectFilter {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    margin: 15px 0px;
    border: solid 1px #eaeaef;

    & .publicProjectFilterLabel {
      font-size: 15px;
      padding: 5px 10px 15px 10px;

      & i {
        font-size: 14px;
        color: gray;
      }
    }

    & .publicProjectFilterSkill {
      padding: 0px 20px;
    }

    & .publicProjectFilterOptionLabel {
      font-size: 13px;
      margin: 5px 0px;
    }

    & .publicProjectOptionSubmit {
      padding: 10px 20px;
      text-align: right;
      & > button {
        border: none;
        background: #229fe7;
        color: white;
        border-radius: 3px;
        padding: 6px 14px;
        cursor: pointer;
      }
    }
  }

  & .publicProjectList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    & .projectItemWrapper {
      @include projectItemWidth(25%);
      margin-bottom: 30px;
      & .projectItemInner {
        border: solid 1px #b9b9b9;
      }
    }
  }
}
